/*
light gray #F2F2F2;
dark blue #34495E;

charcoal light #2F2F2F;
charcoal dark 	#222222;
*/

*{
	font-family: 'Raleway', sans-serif;
}

.first-section{
	background-color: #34495E;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 3px solid gray;
}

.navpart-header,
.navbar-nav { 
   margin: 0 5%
 }

li:hover{
	background-color: lightgray;
}

#intro{
	color: #fff;
}

#intro h1{
	font-size: 57px;
	padding-top: 5%;
}

#intro h3{
	padding-bottom: 3%;
}

/*--------second section------------*/

.second-section{
	padding: 5% 0;
	background-color: #F2F2F2;
}

.img-responsive {
    margin: 0 auto;
}

.cajita{
	padding-bottom: 20px;
}

.fotos{
	padding-top: 10%;
	padding-bottom: 5%;
}

.line{
	border-top: 1px solid lightgray;
	width: 100%;
	margin-top: 5%;

}

#description h2{
	padding: 5%;
}

.blue{
	color: #50e3c2;
	padding: 3% 0 3%;
}

/*--------third section------------*/

.third-section{
	background-color: #34495E;
	padding: 6% 0;
}

.third-section h2{
	color: #fff;
	padding-bottom: 2%;
}

/*----fourth section*/

.inputs{
	padding-bottom: 20px;
}

.pie{
	background-color: #2F2F2F;
	color: #fff;
	padding: 3% 0;
}

input {
	border-radius: 5px;
	padding: 10px 0 10px 10px;
	border: none;
	width: 100%;
}

input[placeholder]{
	color: gray;
}

textarea{
	width: 100%;
	border-radius: 5px;
	border: none;
	color: gray;
}

.btn{
	background-color: #449d44;
	color: #fff;
	border: none;
}

.error{
    padding: .25em .5em .35em .5em;
    margin-top: .5em;
    margin-bottom: .55em;
    display: inline-block;
    position: relative;
    color: red;
    background-color: white;
    border-color: red;
    border-radius: 5px;
}

.piecito{
	background-color: #222222;
	padding: 1% 0;
	color: #fff;
}